/* .options {
    display: none;
}

.termsAndConditions {
    display: none;
}

.dontHaveAccount {
    display: none;
} */

.label {
    text-transform: inherit;
    color: #fff;
}

.profileIcon--userColHeader {
    color: #fff;
}

.profile {
    color: #fff;
}

.inputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #333;
}


/*Versión Mobile*/

@media (max-width: 1025px) {
    .profileIcon--userColHeader {
        color: #fff;
        width: 12px;
    }
}