.openIconContainer {
    padding: 0;
}

.opened {
    max-width: 500px !important;
}

.openIconContainer :global(.vtex-button__label) {
    padding: 0 !important;
}

.cartIcon {
    color: #fff;
    width: 12px;
}

.minicartCheckoutButton :global(.vtex-button__label) {
    font-size: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::before {
    content: 'Finalizar Compra';
    text-transform: uppercase!important;
    font-size: 15px;
    text-transform: initial;
    font-weight: 700;
    color: #ffffff;
}

.minicartProductListContainer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media (max-width: 1025px) {
    .opened {
        max-width: 100% !important;
        min-width: 100%;
    }
    .minicartProductListContainer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}