/*Elementos Display none*/
.homeIcon {
    display: none !important;
}

/*PLP*/
/*breadcrumb*/
/* .homeLink, .arrow {

} */

.link {
    color: #000000;
    font-size: 13px;
}

.container {
    background: #e9e9e9;
    width: auto!important;
    padding-left: 15px;
    padding-right: 15px;
}   

.homeLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.homeLink::before {
    content: "Inicio";
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.caretIcon {
    color: #E1251B;
    margin: 0 8px;
}