.styledLinkContainer {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.menuContainer--footerMainMenu {
    display: flex;
    flex-direction: column;
}

.styledLinkContent--menuFooterMainItem-face,
.styledLinkContent--menuFooterMainItem-insta,
.styledLinkContent--menuFooterMainItem-yt,
.styledLinkContent--menuFooterMainItem-pinter,
.styledLinkContent--menuFooterMainItem {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.styledLinkContent--menuFooterMainItem-face,
.styledLinkContent--menuFooterMainItem-insta,
.styledLinkContent--menuFooterMainItem-yt,
.styledLinkContent--menuFooterMainItem-pinter {
    padding-left: 1.7rem;
    position: relative;
}

.styledLinkContent--menuFooterMainItem-face::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(assets/img/footer-rrss-face.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.styledLinkContent--menuFooterMainItem-insta::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(assets/img/footer-rrss-insta.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.styledLinkContent--menuFooterMainItem-yt::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(assets/img/footer-rrss-yt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.styledLinkContent--menuFooterMainItem-pinter::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(assets/img/footer-rrss-pinter.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.styledLinkContainer--menuFooterMainItem-face,
.styledLinkContainer--menuFooterMainItem-insta,
.styledLinkContainer--menuFooterMainItem-yt,
.styledLinkContainer--menuFooterMainItem-pinter,
.styledLinkContainer--menuFooterMainItem {
    padding: 0 0 1.2rem 0;
}

.submenuContainer--wrapperSubMenuTienda,
.submenuWrapper--wrapperSubMenuTienda--isOpen {
    background: #1e1e1e;
}

.styledLinkContent {
    font-weight: 400;
    letter-spacing: 2px;
}


/*Calugas contacto*/

.menuContainer--list-cal-contacto {
    flex-direction: column;
}

.styledLinkContainer--menuitem-cal-contacto {
    padding: 0.4rem 0;
}

.styledLinkContent--menuitem-cal-contacto {
    font-family: "Lato";
    font-size: 13px;
    letter-spacing: inherit;
    color: #afafaf;
}


/* Menu Nvegacion */

.submenuWrapper--subSubMenu--isOpen {
    left: 100% !important;
    background-color: #e1251b;
}

.submenu--subSubMenu {
    flex-direction: column;
}

.styledLink--menuSubSubitemsTienda,
.styledLink--menuSubitemsTienda {
    display: block;
    width: 100%;
    height: 100%;
}

.styledLinkContainer--menuSubSubitemsTienda,
.styledLinkContainer--menuSubitemsTienda {
    margin: 0;
    padding: 0;
}

.styledLinkContent--menuSubSubitemsTienda,
.styledLinkContent--menuSubitemsTienda {
    transition: all 0.5s ease;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.7rem;
}

.styledLinkContent--menuSubitemsTienda:hover {
    background-color: #e1251b;
    color: #fff;
    transition: all 0.5s ease;
}

.styledLinkContent--menuSubSubitemsTienda:hover {
    background-color: #1f1f1f;
    transition: all 0.5s ease;
}

.submenuWrapper--subSubMenu--isOpen {
    margin: 0 !important;
    padding: 0 !important;
}

.styledLinkContent--menu-mobile-item {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.styledLinkContainer--menu-mobile-item {
    padding: 0.7rem 0;
    margin: 0 1.3rem;
}

.submenuAccordion .menuContainerNav {
    width: 100% !important;
}


/*Footer*/


/*Versión Mobile*/

@media (max-width: 1025px) {
    /* .styledLinkContent--menuFooterMainItem-face,
    .styledLinkContent--menuFooterMainItem-insta,
    .styledLinkContent--menuFooterMainItem-yt,
    .styledLinkContent--menuFooterMainItem-pinter, */
    .styledLinkContainer--menuFooterMainItem {
        padding: 0 0 0.7rem 0;
    }
    .styledLinkContent--menuFooterMainItem-face,
    .styledLinkContent--menuFooterMainItem-insta,
    .styledLinkContent--menuFooterMainItem-yt,
    .styledLinkContent--menuFooterMainItem-pinter,
    .styledLinkContent--menuFooterMainItem {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 2px;
    }
    .styledLinkContent--menuSubSubitemsTienda {
        background: red;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 11px;
        padding: 0.7rem 0.5rem 0.7rem 1rem;
    }
}