/*Elementos display none*/

.filter__container--brand {
    display: none!important;
}


/*PLP B2B*/

.filter__container {
    border-bottom: 1px solid #E1251B;
}

.filterMessage {
    font-weight: 800;
    text-transform: uppercase;
}

.filterTitle {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.searchResultContainer {
    max-width: 100%!important;
    padding: 0!important;
}


/*ORDENAR POR*/

.orderByText {
    color: #000000!important;
    font-weight: 500;
    padding-right: 15px;
}

.orderByText::after {
    content: ":";
    display: inline-block;
    font-size: 13px;
}

.filterPopupTitle {
    position: relative;
    font-weight: 700;
    margin-right: 1rem;
    text-transform: initial;
    z-index: 1;
}

.filterPopupTitle::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -55px;
    background: rgba(64, 64, 64, .11);
    border-radius: 3px;
    width: 85%;
    height: 24px;
}

.filterBreadcrumbsText {
    font-weight: 600;
    letter-spacing: .2px;
    position: relative;
    padding-left: 15px;
}

.filterBreadcrumbsText::before {
    content: "<";
    position: absolute;
    left: 0;
    top: -2px;
    width: 12px;
    height: 12px;
    display: block;
}

.accordionFilterItemTag :global(.vtex-tag),
.filterApplyButtonWrapper :global(.vtex-button) {
    background: #E1251B;
    border: none;
}

.filterApplyButtonWrapper :global(.vtex-button__label) {
    color: white;
}

.filterClearButtonWrapper :global(.vtex-button) {
    border: 1px solid #E1251B;
}

.buttonShowMore :global(.vtex-button) {
    background-color: #000;
    border-color: #000;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonShowMore :global(.vtex-button__label) {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonShowMore :global(.vtex-button__label)::after {
    content: "VER MÃS";
    font-size: 13px;
    font-weight: 700;
}


/*MEDIA QUERY*/


/*PLP*/

@media screen and (max-width: 64rem) {
    .galleryLayoutSwitcher {
        display: none;
    }
    .orderByButton,
    .filterPopupButton {
        background: #e9e9e9;
        margin: 8px 0;
        padding: 8px 4px;
        height: auto;
        min-width: 100%;
    }
    .orderByText,
    .filterPopupTitle::after {
        background: none;
    }
    .orderByText {
        display: inline-block;
    }
}