.flexRowContent--menu-link,
.flexRowContent--main-header {
    padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
    .flexRowContent--menu-link,
    .flexRowContent--main-header {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 80rem) {
    .flexRowContent--menu-link,
    .flexRowContent--main-header {
        padding: 0 0.25rem;
    }
    .flexRow--rowSearchBread,
    .flexRow--rowSearchTitle,
    .flexRow--rowSearchResult {
        padding-left: 4rem;
        padding-right: 4rem;
        max-width: 102rem;
    }
    .flexRow--rowSearchBread {
        margin: 15px 0 30px;
    }
    .flexCol--productosRecomendados {
        margin-bottom: 30px!important;
    }
}

.flexRowContent--menu-link {
    background-color: #03044e;
    color: #fff;
}

.flexRowContent--main-header {
    background-color: #1f1f1f;
}

.flexRowContent--main-header-mobile {
    align-items: center;
    padding: 0.625rem 0.5rem;
    background-color: #1f1f1f;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 800;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.flexRow--deals {
    background-color: #a7afbd;
    padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
    align-items: center;
}

.flexRow--deals .flexCol {
    align-items: center;
}

.flexCol--filterCol {
    max-width: 500px;
    min-width: 230px;
}

.flexCol--productCountCol {
    align-items: flex-start;
}

.flexCol--orderByCol {
    align-items: flex-start;
    margin-left: 4rem;
}

.flexCol--orderByMobileCol {
    width: 42%;
}

.flexCol--filterMobileCol {
    width: 38%;
}

.flexCol--switcherMobileCol {
    width: 20%;
}

.flexRow--quickviewMainRow {
    display: flex;
    max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
    overflow-y: auto;
    height: 66% !important;
    overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
    height: 34% !important;
}

.flexRow--addToCartRow {
    padding-bottom: 1rem;
}

.flexColChild--formReseller,
.flexColChild--formResellerCompanyBlock,
.flexColChild--formResellerCompany {
    padding: 0 0.5rem 0.5rem;
}

.flexRowContent--formResellerCompanyBlock .stretchChildrenWidth {
    display: initial;
}

.flexRowContent--formResellerCompanyBlock .stretchChildrenWidth .flexCol--formResellerCompany {
    height: initial;
}


/*PLP*/

.flexRowContent--rowSearchBread .stretchChildrenWidth {
    justify-content: flex-start;
}

.flexRowContent--row-ventas-por .stretchChildrenWidth:first-child {
    margin-right: 0.5rem;
}

.flexRowContent--row-ventas-por .stretchChildrenWidth:last-child {
    margin-left: 0.5rem;
}

.flexRowContent--orderByAndSwitcher {
    justify-content: start;
}


/*Titulos de detalle de producto PDP*/

.flexRow--rowSpecifications,
.flexRow--rowSearchTitle {
    display: none !important
}

.flexRow--skuListHeader {
    border-bottom: 1px solid #c4c4c4;
}

.flexRowContent--rowItemMainDesktop {
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    padding: 10px 0;
}

.flexColChild--colBuyButton :global(.vtex-button) {
    height: 33px;
    min-height: 33px;
    border-radius: 0;
}

.flexRow--rowDescription,
.flexRow--rowSpecifications,
.flexRow--colBuyButton {
    padding: 1rem;
}

.flexRowContent--rowSkuName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*Version Mobile*/

.flexRowContent--skuListHeaderMobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
}


/* Footer */

.flexRow--row-footerMain {
    background-color: #1f1f1f;
    padding: 3rem 0 0 0;
}

.flexRow--row-lastFooter {
    background-color: #1f1f1f;
    padding: 1.5rem 0;
}

.flexColChild--col-footerMain {
    align-items: center;
    height: auto !important;
}

.flexCol--col-footerMain {
    align-items: center;
}

.flexRowContent--row-footerMain {
    border-bottom: 1px solid #fff;
    padding-bottom: 2rem;
}

.flexCol--lastFooter-partners {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
}

.flexColChild--lastFooter-webpay {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flexColChild--lastFooter-partners {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Top Bar */

.flexRow--row-topBar {
    background: #474747;
    margin: 0.7rem 0.7rem 0 0.7rem;
}

.flexRowContent--row-topBar .stretchChildrenWidth {
    padding: 0 2rem;
    position: relative;
}

.flexRowContent--row-topBar .stretchChildrenWidth:first-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flexRowContent--row-topBar .stretchChildrenWidth:first-child::before {
    content: "|";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: lighter;
    color: #fff;
}

.flexRowContent--row-topBar .stretchChildrenWidth:first-child::before {
    right: 0;
}

.flexRowContent--row-topBar {
    justify-content: flex-end;
}

.flexRowContent--row-topBar .flexRowContent--row-topBar:first-child {
    padding: 0 1.8rem;
}

.flexRowContent--row-InfoBar .stretchChildrenWidth:nth-child(even) {
    margin: 0 2rem;
}


/*Info Bar*/

.flexRow--row-InfoBar {
    background: #474747;
    margin-top: 11px;
    padding: 0.7rem 0;
}

.flexRowContent--row-InfoBar .stretchChildrenWidth:last-child :global(.vtex-rich-text-0-x-paragraph--infoBarCol-text) {
    text-align: right;
}


/*Categorías Home*/

.flexRowContent--row-categoryHome {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flexRowContent--row-categoryHome .stretchChildrenWidth {
    width: 23% !important;
    border: 1px solid #c4c4c4;
    margin: 0.5rem;
}


/*Newsletter*/

.flexRow--row-newsletter {
    background-color: #e1251b;
    padding: 3rem 0;
}

.flexRowContent--row-newsletter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRowContent--row-socialMedia-newsletter {
    flex-direction: column;
    margin-top: 1rem;
}

.flexRowContent--row-newsletter-suscribeme :global(.vtex-dropdown__label),
.flexRowContent--row-newsletter-presonal :global(.vtex-input__label) {
    display: none;
}

.flexRowContent--row-newsletter-suscribeme :global(.vtex-dropdown__container) {
    background-color: transparent;
    border-radius: 0;
    margin: 1rem .7rem 0 .7rem;
    border: 1px solid #fff;
    color: #fff;
}

.flexRowContent--row-newsletter-suscribeme :global(.vtex-dropdown__button) {
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 0;
}

.flexRowContent--row-newsletter-presonal :global(.vtex-input-prefix__group) {
    border: 1px solid #fff;
    border-radius: 0;
    margin: 0 .7rem;
}

.flexRowContent--row-newsletter-presonal :global(.vtex-styleguide-9-x-input) {
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 2px;
    width: 210px;
    border-radius: 0;
}


/*Contacto*/

.flexRowContent--row-contacto {
    flex-direction: column;
}

.flexRowContent--row-title-contacto {
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.flexRowContent--row-title-contacto .stretchChildrenWidth:first-child {
    width: 100% !important;
}

.flexRowContent--row-calugasContacto {
    margin-top: 3rem;
}

.flexRowContent--row-calugasContacto .stretchChildrenWidth {
    background-color: #1f1f1f;
    margin: 1rem 2rem;
    width: 29% !important;
    padding: 4rem 3rem;
}

.flexRowContent--row-rrsssContacto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow--row-rrsssContacto {
    margin: 3rem 0 5rem 0;
}

.flexRowContent--row-redes-contacto {
    justify-content: center;
    align-items: center;
}

.flexColChild--col-ubicacion {
    height: auto !important;
}

.flexCol--col-fecha-compra-reclamos,
.flexCol--col-fecha-vencimiento-reclamos {
    display: flex;
    flex-direction: row;
    position: relative;
}

.flexCol--col-fecha-compra-reclamos::before {
    content: "Fecha de compra";
    text-transform: uppercase;
    position: absolute;
    left: 0;
    font-size: 14px;
    top: 0;
    letter-spacing: 1px;
}

.flexCol--col-fecha-compra-reclamos .flexColChild--col-fecha-compra-reclamos,
.flexCol--col-fecha-vencimiento-reclamos .flexColChild--col-fecha-vencimiento-reclamos {
    width: 33.3%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.flexRow--row-n-m-t {
    margin-bottom: 2rem;
}

.flexCol--col-fecha-vencimiento-reclamos::before {
    content: "Fecha de vencimiento";
    text-transform: uppercase;
    position: absolute;
    left: 0;
    font-size: 14px;
    top: 0;
    letter-spacing: 1px;
}

.flexRowContent--row-n-m-t .stretchChildrenWidth:nth-child(even) {
    margin: 0 2rem;
}

.flexRowContent--row-1-compras-mayor .stretchChildrenWidth:nth-child(even),
.flexRowContent--row-2-compras-mayor .stretchChildrenWidth:nth-child(even),
.flexRowContent--row-3-compras-mayor .stretchChildrenWidth:nth-child(even),
.flexRowContent--row-1-reclamos .stretchChildrenWidth:nth-child(even),
.flexRowContent--row-3-reclamos .stretchChildrenWidth:nth-child(even),
.flexRowContent--row-4-reclamos .stretchChildrenWidth:nth-child(even) {
    margin: 0 2rem;
}

.flexRowContent--row-1-reclamos,
.flexRowContent--row-3-reclamos,
.flexRowContent--row-4-reclamos {
    margin-bottom: 1.5rem;
}

.flexRowContent--row-2-reclamos .stretchChildrenWidth {
    width: 31% !important;
}

.flexRowContent--row-2-reclamos .stretchChildrenWidth:last-child {
    margin: 0 2rem;
}

.flexRowContent--rowMobileImageDetail {
    align-items: center
}

.flexRowContent--row-2-compras-mayor,
.flexRowContent--row-3-compras-mayor {
    margin-top: 1.5rem;
}

.flexRowContent--row-4-compras-mayor {
    flex-direction: column;
    margin-top: 3rem;
}

.flexRowContent--row-4-compras-mayor .stretchChildrenWidth {
    width: 100% !important;
}

.flexColChild--col-fecha-compra-reclamos :global(.vtex-input__label),
.flexColChild--col-fecha-compra-reclamos :global(.vtex-dropdown__label),
.flexColChild--col-fecha-vencimiento-reclamos :global(.vtex-input__label),
.flexColChild--col-fecha-vencimiento-reclamos :global(.vtex-dropdown__label) {
    display: none;
}


/*Terminos y condiciones*/

.flexRowContent--row-tyc {
    flex-direction: column;
    padding: 0 7rem;
}

.flexRowContent--row-tyc .stretchChildrenWidth {
    width: 100% !important;
}


/*Politicas de privacidad*/

.flexRowContent--row-privacidad {
    flex-direction: column;
    padding: 0 7rem;
}

.flexRowContent--row-privacidad .stretchChildrenWidth {
    width: 100% !important;
}


/*Preguntas Frecuentes*/

.flexRowContent--row-faqq {
    flex-direction: column;
    padding: 0 7rem;
}

.flexRowContent--row-faqq .stretchChildrenWidth {
    width: 100% !important;
}


/*La empresa*/

.flexRow--row-inicios :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

.flexRow--row-inicios {
    margin-left: 7rem;
}

.flexColChild--col-compromiso,
.flexColChild--col-inicios-text {
    height: auto !important;
    margin-right: 5rem;
}

.flexColChild--col-calidad {
    height: auto !important;
    margin-left: 5rem;
}

.flexColChild--col-compromiso :global(.vtex-rich-text-0-x-wrapper--title-seccion-empresa),
.flexColChild--col-inicios-text :global(.vtex-rich-text-0-x-wrapper--title-seccion-empresa) {
    justify-content: left !important;
}

.flexColChild--col-calidad :global(.vtex-rich-text-0-x-wrapper--title-seccion-empresa) {
    justify-content: right !important;
}

.flexRow--row-innovacion,
.flexRow--row-instalaciones,
.flexRow--row-somos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem 0;
    padding: 5rem;
    box-sizing: content-box;
}

.flexRow--row-innovacion {
    background-image: url(assets/img/empresa-bg-innovacion.jpg);
}

.flexRow--row-instalaciones {
    background-image: url(assets/img/empresa-bg-instalaciones.jpg);
}

.flexRow--row-somos {
    background-image: url(assets/img/empresa-bg-somos.jpg);
}

.flexCol--col-somos,
.flexCol--col-instalaciones,
.flexCol--col-innovacion {
    background: #fff;
    padding: 3rem;
    width: 80%;
}


/*Carrito*/

.flexColChild--colQuantitySelectorMobile {
    margin-top: 15px;
}


/*Header Mobile MN*/

.flexRow--rowDrawer {
    width: 100%;
}

.flexRowContent--rowDrawer {
    display: flex;
    justify-content: space-between;
    padding: .7rem 1.3rem;
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
}


/* .flexRowContent--qttyPrice-row {
    display: flex;
    flex-direction: column;
}

.flexRowContent--qttyPrice-row .stretchChildrenWidth:last-child {
    margin-top: 1rem;
} */


/*MEDIA QUERY*/

.flexRowContent--rowSearchInfoMobile {
    flex-direction: column;
}


/*PLP*/

@media screen and (min-width: 64rem) {
    .flexRowContent--orderByAndSwitcher {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 63rem) {
    .flexRow--rowSearchBread {
        display: none!important;
    }
    .flexRow--rowSearchInfoMobile {
        border-bottom: 1px solid #e9e9e9;
        padding: 15px 0;
    }
    .flexRowContent--orderByAndSwitcher {
        padding-left: 4rem;
    }
}


/*Versión Mobile*/

@media (max-width: 1025px) {
    .flexRow--main-header-mobile {
        background: #1f1f1f;
    }
    .flexRow--row-InfoBar {
        margin-top: 0;
    }
    .flexRowContent--row-InfoBar .stretchChildrenWidth:last-child {
        display: none;
    }
    .flexRowContent--row-categoryHome {
        display: flex;
    }
    .flexRowContent--row-categoryHome .stretchChildrenWidth {
        width: 50% !important;
        border: 1px solid #c4c4c4;
        margin: 0;
    }
    .flexRowContent--row-footerMain .stretchChildrenWidth {
        padding: 2rem 0;
        border-bottom: 1px solid #fff;
    }
    .flexRow--row-footerMain {
        background-color: #1f1f1f;
        padding: 1rem 0 0 0;
    }
    .flexColChild--lastFooter-webpay {
        justify-content: center;
    }
    .flexRowContent--row-lastFooter .stretchChildrenWidth {
        margin: 0.7rem 0;
    }
    .flexRowContent--row-footerMain {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .flexRow--row-calidad,
    .flexRow--row-compromiso,
    .flexRow--row-inicios {
        margin: 0 2rem;
    }
    .flexColChild--col-calidad {
        margin-left: auto;
    }
    .flexColChild--col-compromiso,
    .flexColChild--col-inicios-text {
        margin-right: auto;
    }
    .flexRow--row-innovacion,
    .flexRow--row-instalaciones,
    .flexRow--row-somos {
        margin: 6rem 0;
        padding: 2rem 1rem;
    }
    .flexRowContent--row-calidad {
        flex-direction: column-reverse !important;
        display: flex;
    }
    .flexRowContent--row-faqq,
    .flexRowContent--row-privacidad,
    .flexRowContent--row-tyc {
        flex-direction: column;
        padding: 0 2rem;
    }
    .flexRowContent--row-socialmedia-images {
        display: flex;
    }
    .flexRow--row-shelfTitle {
        margin-top: 2rem;
    }
    .flexRowContent--rowImagesAndItems {
        margin: 0;
    }
    .flexCol--productosRecomendados {
        margin: 2rem 0 4rem 0;
    }
}